

/* Universal Styles */

html {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #444;
  width: 100%;
}

h1, h2, h3, h4 {
  font-weight:700;
  line-height: 1.4;
}

h2 {
  color: black;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

p, button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.2;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1;     /* Keep header on top */
}

header .container {
  padding: 1rem 1.5rem;
}

header nav {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  align-items: center; /* align items vertically */
}

/*
 * On desktop, we want left and right parts of the
 * header to stay on the left and the right
 */
header nav.desktop {
  justify-content: space-between;
}

/*
 * On mobile, the menu items should be evenly spaced
 */

header nav.mobile {
  justify-content: space-evenly;
}

header .logo {
  display: inline-flex;
  align-items: center;
  height: 2rem;
}

header .right-side {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

header .right-side a {
  padding-left: 1rem;
}

/* Style the two parts of the academy name */

.academy-name span:first-child {
  color: black;
  font-weight: 700;
}

.academy-name span:last-child {
  color: gray;
  font-weight: 300;
  margin-left: -.25rem; /* Skootch the two pieces of the logo together */
}

/*
 * Hide all mobile-only elements on desktop until
 * viewport gets so small that menu text wraps
 */

@media only screen and (min-width: 575px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 574px) {

  /* Hide all desktop-only elements on mobile */

  .desktop {
    display: none;
  }
}


main {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}


/*
 * First block CSS -- headline
 */

.headline {
  background-color: lightgray;
  width: 100%;
}

.headline .container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 2rem 1.5rem;
}

.headline img {
  max-width: 60%;
}

.headline .learn {
  text-align: left;
  padding-left: 1.5rem;
}

.headline button {
  color: white;
  text-align: center;
  background-color: darkgray;
  border: 0;
  height: 3rem;
  width: 90%;
}

@media only screen and (max-width: 575px) {

  /* Image and columns stack on mobile */

  .headline .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
  }

  .headline img {
    max-width:100%;
  }

  .headline .learn {
    padding-top: 2rem;
    line-height: 1.4;
  }

  .headline .learn p {
    padding: 2rem 1rem;
  }
}


/*
 * Second block -- school info
 */

.info {
  .padding: 2rem 1.5rem;
  background-color: white;
  width: 100%;
}

.info .container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  padding: 2rem 1.5rem;
}

.info .main {
  display: inline-flex;
  flex-direction: column;
  max-width: 60%;
  padding-right: 1.5rem;
}

.info .main img {
  max-width: 100%;
}

.info .main .content {
  max-width: 100%;
  text-align: left;
}

/* Items are stacked on right-hand side of page */

.info .items {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.info .item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem;
  border: .5px solid lightgray;
  width: 100%;
}

.info .item:last-child {
  background-color: lightgray;
}

.info .item .image {
  height: auto;
  max-width: 35%;
}

.info .item .image img {
  width: 100%;
}

.info .item .content {
  text-align: left;
  max-width: 65%;
  padding-left: 1rem;
}

.info a.read-more {
  color: blue;
}

@media only screen and (max-width: 575px) {

  /* Hide the main "fluff" item on mobile */

  .info .main {
    display: none;
  }

  /* Stack the remaining informational items in a column */

  .info .items {
    max-width: 100%;
  }

  .info .item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .info .item .image {
    max-width: 100%;
  }

  .info .item .content {
    max-width: 100%;
  }

}

/*
 * Third block -- course info
 */

.courses {
  background-color: lightgray;
  width: 100%;
  padding-top: 2rem;
}

.courses h2 {
  text-align: center;
}

/*
 * Container contains two stacked rows of courses
 */
.courses .container {
  display: flex;
  flex-direction: column;
  padding: 2rem 4.5rem;
  max-width: 100%;
}

/*
 * Two rows of courses
 */
.courses .container .row {
  display: flex;
  flex-direction: row;
}

.course {
  display: block;
  width: 100%;
  background-color: white;
}

.course img {
  max-width: 100%;
}

.course .content {
  padding-left: 1rem;
  padding-bottom: 1.5rem;
}

/*
 * As we shrink, lose the image (but keep
 * the course description)
 */

@media only screen and (max-width: 800px) {
  .course img {
    display: none;
  }
}


/*
 * Add padding in for the second and third children in
 * each row on larger viewports
 */

@media only screen and (min-width: 576px) {

  .course:nth-child(1n + 2) {
    margin-left: 2rem;
  }

  .courses .container .row:last-child {
    padding-top: 2rem;
  }

}



/*
 * Collapse the section into a list of headings on mobile
 */


@media only screen and (max-width: 575px) {

  .courses {
    background-color: white;
    width: 100%;
  }

  .courses .container .row {
    flex-direction: column;
    justify-content: flex-start;
  }

  .course {
    margin: .5rem 1rem 0 1rem;
  }

  .course img, .course h4, .course p {
    display: none;
  }

  .course h3 {
    background-color: lightgray;
    padding: 1rem 0 1.5rem 1rem;
  }


}

/*
 * Fourth block -- exhibits.
 */

.exhibits {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.exhibits h2 {
  text-align: center;
}

.exhibits video {
  max-width: 100%;
}

.exhibits .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
  padding: 1.5rem 1.5rem;
}

.exhibits .main-exhibit {
  width: 60%;
}

.exhibits .right-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 1.5rem;
}

.exhibits .exhibit {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1rem;
  width: 100%;
}


.exhibits .exhibit:first-child {
  background-color: lightgray;
}

.exhibits .right-side img {
  width: 35%;
  padding: 1rem 1rem;
}

.exhibits .right-side .content {
  width: 65%;
}


/*
 * As the viewport gets smaller, adjust the text size
 */

@media only screen and (max-width: 800px) {
  .exhibits h3 {
    font-size: 1rem;
  }

  .exhibits p {
    font-size: .75rem;
  }
}

/*
 * For smaller viewports, only display the main exhibit
 */

@media only screen and (max-width: 670px) {

  .exhibits .right-side,
  .exhibits h3,
  .exhibits p {
    display: none;
  }

  .exhibits .main-exhibit {
    width: 100%;
  }
}

/*
 * Footer
 */


footer .content {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
  width: 100%;
}

footer .right-side {
  padding-right: 1.5rem;
}

/* Only display copyright on a small screen */

@media only screen and (max-width: 575px) {

  footer .right-side {
    display: none;
  }

  footer .copyright {
    text-align: left;
    width: 100%;
  }
}
